#header{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: red;
  font-weight: bolder;
  font-family: Black Han Sans;
}
.box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: larger;
}


body{
  background-color: aquamarine;
}

#pic{
  display: inline;
  height: 25%;
  width: 25%;
}

.button{
  display: flex;
  justify-content: center;
  background-color: darkslateblue;
  border-color: aqua;
  color: white;
  font-size: 25px;
  margin-left: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .box {
    flex: 50%;
    max-width: 50%;
  }
  .container {
    flex: 50%;
    max-width: 50%;
  }
  .button{
    display: flex;
    justify-content: center;
    margin-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .box {
    flex: 100%;
    max-width: 100%;
  }
  .container {
    flex: 100%;
    max-width: 100%;
  }
  .button{
    display: flex;
    justify-content: center;
    margin-right: 50px;
  }
}
