#header{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: red;
  font-weight: bolder;
  font-family: Black Han Sans;
}
.box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: larger;
}


body{
  background-color: aquamarine;
}

#pic{
  display: inline;
  height: 25%;
  width: 25%;
}

.button{
  display: flex;
  justify-content: center;
  background-color: darkslateblue;
  border-color: aqua;
  color: white;
  font-size: 25px;
  margin-left: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

@media only screen and (max-width:400px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
