

.container{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
}

.box{
    padding-top: 100px;
}


img{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    width: 500px;
    height: 600px;
}

body {
    background-image: url('https://f.ptcdn.info/970/023/000/1412026068-Maroon5VDe-o.png');
    width: 100%;
    margin:  0px;
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 600px){
    div.container {
        margin-top: 500px;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: flex-start;
    }
    
    
  }