

.container{
    display: flex;
    flex-direction: row;
    color: white;
}

img{
    margin-top: 20px;
    width: 500px;
    height: 600px;
}

body {
    background-image: url('https://f.ptcdn.info/970/023/000/1412026068-Maroon5VDe-o.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }