.member{
    float: right;
    width: 50%;
    vertical-align: middle;

}

.img{
    width: 100%;
    height: 100%;
}

body {
    background-image: url('https://f.ptcdn.info/970/023/000/1412026068-Maroon5VDe-o.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }