.main{
  font-size: large;
  text-align: center;
}
.box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.bg {

  background-image: url("https://f.ptcdn.info/970/023/000/1412026068-Maroon5VDe-o.png");

  height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic{
  height: 50px;
  width: 50px;
}