#header{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: black;
  font-weight: bolder;
}
.box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}


body{
  background-color: aquamarine;
}

#pic{
  display: inline;
  height: 25%;
  width: 25%;
}

.button{
  display: flex;
  justify-content: center;
  background-color: orange;
  color: white;
  font-size: 25px;
  margin-left: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
}
