#header{
  display: block;
  margin-left: 500px;
  font-size: 40px;
  color: black;
  font-weight: bolder;
}
.box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

body{
  background-color: aquamarine;
}

#pic{
  display: inline;
  height: 50px;
  width: 50px;
}
