

.topnav {
    background-color: black;
    overflow: hidden; 
    top: 0; 
    width: 100%; 
  
  }

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }

  .topnav a.active {
    background-color: rgba(209, 19, 230, 0.679);
    color: white;
  }
  

  .topnav .icon {
    display: none;
  }
  
  #home{
    width: 30px;
    height: 30px;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a {
      position: absolute;
      right: 0;
      top: 0;
    }
    div.topnav.responsive {
      font-size: 50px;
    }
  }

  .top{
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkorange;
    display: flex;
    width: 25%;
    justify-content: center;
    border: 2px;
    border-color: lightsalmon;
    border-style: solid;
    margin: 50px;
    margin-left: 550px;
  }

  
